<section class="b">
  <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 a">
    <div class="col-8">
    <h3 class="masthead-brand nav-item col-8">DONDE ANDAN MIJINES</h3>

    </div>
    <div class="col-2">
      <a class=" nav-link active col-2" href="#">Login</a>
      <a class=" nav-link active col-2" href="#">Registro</a>

    </div>

  </nav>
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="text-align: center;">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Bienvenidos</h1>
      <p class="lead">Aplicacion para que no se vuelvan a perder tus panas.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Registro</a>

      </p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Login</a>
      </p>
    </main>
    </div>

</section>
