<section class="b">
  <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 a">
    <div class="col-8" style="text-align: center;">
      <h2>Bici Map</h2>
    </div>
    <div class="col-2">
      <a class=" nav-link active col-2 " (click)="goToLogin()" active>Login</a>
    </div>
    <div class="col-2">
      <a class=" nav-link active col-2" (click)="goToRegister()">Registro</a>
    </div>

  </nav>
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="text-align: center;">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Bienvenidos</h1>
      <p class="lead">Aplicacion para que no se vuelvan a perder tus panas.</p>
      <p class="lead">
        <a  (click)="goToRegister()"   class="btn btn-lg btn-secondary">Registro</a>

      </p>
      <p class="lead">
        <a (click)="goToLogin()"  class="btn btn-lg btn-secondary">Login</a>
      </p>
    </main>
    </div>

</section>
<footer class="footer" style="position:center;">
  <p>2022</p>
  </footer>
