<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 a">
  <div class="col-8">
  <h3 class="masthead-brand nav-item col-8">DONDE ANDAN MIJINES</h3>

  </div>
  <div class="col-2">
    <a class=" nav-link active col-2" href="#">Logout</a>
    <a class=" nav-link active col-2" href="#">Perfil</a>

  </div>

</nav>
<div class="container">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">

      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link active">
              hola
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link active">
              hola
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link active">
              hola
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link active">
              hola
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" >
      <div class="container" style="border-style: double;">
        <h1>seccion de chat</h1>
      </div>
    </main>
  </div>

</div>
