<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 a">
  <div class="col-8" style="text-align: center;">
    <h2>Bici Map</h2>
  </div>
  <div class="col-2">
    <a class=" nav-link active col-2"  href="#">Login</a>
  </div>
  <div class="col-2">
    <a class=" nav-link active col-2" href="#">Registro</a>
  </div>
</nav>
<section>
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="text-align: center;">

    <main role="main" class="inner cover">
      <br>
      <br>
      <h1>¡¡¡Ha salido con exito de la aplicacion!!!</h1>
      <br>
      <br>
      <h3 class="cover-heading">GRACIAS POR OCUPAR NUESTRO SERVICIO</h3>
      <br>
      <h2 class="cover-heading">Donde Andan Mijines</h2>
      <br>
      <p class="lead">Aplicacion para que no se vuelvan a perder tus panas.</p>
      <br>
      <br>
    </main>
  </div>
  <br>
  <main role="main" class="inner cover">
    <div class="container" style="text-align: center;">
      <div class="row">
        <div class="col-3"><br></div>
        <div class="col-5" style="text-align: start;">
          <h4>
            Consigue nuestra aplicacion
          </h4>
          <p><strong>ANDROID</strong></p>
          <p>
            Aptoide:
            <a href="https://bici-map.es.aptoide.com/?store_name=desaplimovi&app_id=63084266">
              <strong>
                (click aqui)
              </strong>
            </a>
          </p>
        </div>
      </div>
    </div>
  </main>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-3"><br></div>
      <div class="col-5" style="text-align: start;">
        <h2>Trabajo final de Aplicaciones Moviles</h2>
        <br>
        <p>Descipcion de la aplicacion para celular</p>
        <br>
        <p>
          Implementar una aplicación móvil nativa o nativa-híbrida que permita a un grupo de ciclistas o corredores, saber la geolocalización de los demás miembros de su equipo de deportes.
        </p>
        <p>
          Repositorio
          <a href="https://github.com/SebasVa/proyectomoviles2">
            <strong>
              link a github
            </strong>
          </a>
        </p>
        <ul>
          Integrantes
          <li>Mateo Cevallos</li>
          <li>Antony Sanchez</li>
          <li>Michaelle Valenzuela</li>
          <li>Sebastian Valencia</li>
        </ul>
      </div>
    </div>
  </div>


  <footer class="footer" style="position:center;">
  <p>2022</p>
  </footer>

</section>

